-- CreateEnum
CREATE TYPE "Source" AS ENUM ('SYSTEM_AUTO', 'USER_APP', 'USER_WEB', 'EXTERNAL_RSS', 'EXTERNAL_ICAL', 'API_INTEGRATION');

-- CreateEnum
CREATE TYPE "Status" AS ENUM ('PENDING', 'CONFIRMED');

-- CreateTable
CREATE TABLE "LedgerEntry" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "status" "Status" NOT NULL DEFAULT 'CONFIRMED',
    "source" "Source" NOT NULL,
    "start_time" TIMESTAMP(3),
    "end_time" TIMESTAMP(3),
    "book" TEXT NOT NULL,
    "chapter" INTEGER NOT NULL,
    "start_verse" INTEGER NOT NULL,
    "end_verse" INTEGER NOT NULL,
    "verse_ids" TEXT[],
    "translation_id" TEXT,
    "tags" TEXT[],

    CONSTRAINT "LedgerEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Note" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "source" "Source",
    "content" TEXT NOT NULL,
    "tags" TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "book" TEXT NOT NULL,
    "chapter" INTEGER NOT NULL,
    "start_verse" INTEGER NOT NULL,
    "end_verse" INTEGER NOT NULL,
    "verse_ids" TEXT[],

    CONSTRAINT "Note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Highlight" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "color_hex" TEXT,
    "tags" TEXT[],
    "source" "Source",
    "book" TEXT NOT NULL,
    "chapter" INTEGER NOT NULL,
    "start_verse" INTEGER NOT NULL,
    "end_verse" INTEGER NOT NULL,
    "verse_ids" TEXT[],

    CONSTRAINT "Highlight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserStats" (
    "user_id" TEXT NOT NULL,
    "total_verses_read" INTEGER NOT NULL DEFAULT 0,
    "chapters_read" INTEGER NOT NULL DEFAULT 0,
    "current_streak" INTEGER NOT NULL DEFAULT 0,
    "longest_streak" INTEGER NOT NULL DEFAULT 0,
    "last_read_date" TIMESTAMP(3),
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserStats_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "ReadingFeed" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "year" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReadingFeed_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeedReading" (
    "id" TEXT NOT NULL,
    "feed_id" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "book" TEXT NOT NULL,
    "chapter" INTEGER NOT NULL,
    "start_verse" INTEGER NOT NULL,
    "end_verse" INTEGER NOT NULL,

    CONSTRAINT "FeedReading_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subscription" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "feed_id" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserSettings" (
    "user_id" TEXT NOT NULL,
    "auto_confirm_readings" BOOLEAN NOT NULL DEFAULT true,
    "auto_confirm_subscriptions" BOOLEAN NOT NULL DEFAULT false,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserSettings_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "emailVerified" BOOLEAN NOT NULL,
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "userId" TEXT NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3),

    CONSTRAINT "Verification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "LedgerEntry_user_id_idx" ON "LedgerEntry"("user_id");

-- CreateIndex
CREATE INDEX "LedgerEntry_user_id_book_chapter_idx" ON "LedgerEntry"("user_id", "book", "chapter");

-- CreateIndex
CREATE INDEX "Note_user_id_idx" ON "Note"("user_id");

-- CreateIndex
CREATE INDEX "Note_user_id_book_idx" ON "Note"("user_id", "book");

-- CreateIndex
CREATE INDEX "Highlight_user_id_idx" ON "Highlight"("user_id");

-- CreateIndex
CREATE INDEX "Highlight_user_id_book_idx" ON "Highlight"("user_id", "book");

-- CreateIndex
CREATE UNIQUE INDEX "ReadingFeed_slug_key" ON "ReadingFeed"("slug");

-- CreateIndex
CREATE INDEX "FeedReading_feed_id_date_idx" ON "FeedReading"("feed_id", "date");

-- CreateIndex
CREATE UNIQUE INDEX "FeedReading_feed_id_date_key" ON "FeedReading"("feed_id", "date");

-- CreateIndex
CREATE INDEX "Subscription_user_id_idx" ON "Subscription"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "Subscription_user_id_feed_id_key" ON "Subscription"("user_id", "feed_id");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Session_token_key" ON "Session"("token");

-- AddForeignKey
ALTER TABLE "FeedReading" ADD CONSTRAINT "FeedReading_feed_id_fkey" FOREIGN KEY ("feed_id") REFERENCES "ReadingFeed"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subscription" ADD CONSTRAINT "Subscription_feed_id_fkey" FOREIGN KEY ("feed_id") REFERENCES "ReadingFeed"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

